.breadcrumbs {
    position: absolute;
    z-index: 5;
    left: 50%;
    bottom: 20px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    transform: translateX(-50%);
    width: 100px;
    gap: 10px;
}

.breadcrumb {
    border-radius: 50%;
    height: auto;
    width: 19px;
    border-color: white;
    border-width: 1px;
    position: relative;
    aspect-ratio: 1;
    box-shadow: 0 0 10px #00000016;
}

.breadcrumb--selected::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-5.7px, -5.7px);
    width: 11px;
    /* Diameter of the inner circle (2 * radius 11) */
    height: 11px;
    /* Diameter of the inner circle (2 * radius 11) */
    background-color: #80A8FF;
    /* Change to desired background color */
    border-radius: 50%;
}